<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}Home{% endblock %} - Matrix Application</title>
    <meta name="description" content="Веб приложение - Matrix Application">

    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="application"/>
    <meta property="og:title" content="Matrix Application"/>
    <meta property="og:description" content="Веб приложение - Matrix Application"/>
    <meta property="og:image" content="http://{{ app.request.server.get('HTTP_HOST') }}/logo.jpg"/>
    <meta property="og:site_name" content="Веб приложение - Matrix Application"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}
                <nav>
                    <ul class="navigation">
                        <li><a href="{{ path('AppMatrixMatrixBundle_homepage') }}">Home</a></li>
                        <li><a href="{{ path('AppMatrixMatrixBundle_about') }}">About</a></li>
                    </ul>
                </nav>
            {% endblock %}
        </div>

        <hgroup>
            <h2>{% block blog_title %}<a href="{{ path('AppMatrixMatrixBundle_homepage') }}">Matrix</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a href="{{ path('AppMatrixMatrixBundle_homepage') }}">creating a matrix methodology in Symfony2</a>{% endblock %}</h3>
        </hgroup>
    </header>

    <section class="main-col {% if (app.request.requestUri == "/" or app.request.requestUri == "/about") %}main-col__full{% endif %}">
        {% block body %}{% endblock %}
    </section>

    {% if (app.request.requestUri != "/") %}
        <aside class="sidebar">
            {% block sidebar %}{% endblock %}
        </aside>
    {% endif %}

    <section class="main-col main-col_project main-col__full">
        {% block table_project %}{% endblock %}
    </section>
    {% block table_district %}{% endblock %}

    <div id="footer">
        {% block footer %}
            Symfony2 matrix application - created by <a target="_blank" rel="nofollow" href="https://github.com/dobrynin-andrey">A. Dobrynin</a>
        {% endblock %}
    </div>
</section>
{% block javascripts %}
    <script src="{{ asset('js/bundle.js') }}"></script>
{% endblock %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter45399207 = new Ya.Metrika({
                    id:45399207,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45399207" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>