{# src/AppMatrix/MatrixBundle/Resources/views/Page/contact.html.twig #}
{% extends 'AppMatrixMatrixBundle::layout.html.twig' %}
{% block yandex_maps %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&coordorder=longlat" type="text/javascript"></script>
{% endblock %}
{% block title %}{{ projects.projectName }} | Рассчет результатов{% endblock%}
{% block body %}
<section id="wrapper">
    <section class="main-col main-col__full">
        <header>
            <h1>Результаты рассчетов</h1>
        </header>
        <div class="table_project_title">Карта с объектами:</div>
    </section>
</section>
    <div style="clear: both"></div>
    <div id="map" style="width: 100%; height: 700px"></div>
    <script>
        ymaps.ready(function() {

    // 0. Создаем карту, например так:
            var map,
                regionNames = {{ (arResult['districtMaps'] | json_encode(constant('JSON_UNESCAPED_UNICODE')) | raw) }},
                region = 'Алтайский ',
                center = [81.959968, 52.516377],
                zoom = 7;

            map = new ymaps.Map('map', {
                center: center,
                zoom: zoom,
                controls: ['zoomControl', 'fullscreenControl']
            });
            map.behaviors.disable('scrollZoom');
    // 1. Запрашиваем через геокодер район (у Яндекса этой возможности пока нет, придется пользоваться OSM)
            var url = "http://nominatim.openstreetmap.org/search";
            $.each(regionNames, function (i, item) {
                $.getJSON(url, {q: region + item, format: "json", polygon_geojson: 1, limit: 1}).then(function (data) {
                    if (data.length == 0) {
                        $('.errors-map').append('Объект с именем: ' + item + ' - отсутствует в базе карт!<br>');
                        console.log('Объект с именем: ' + item + ' - отсутствует в базе карт!');
                    } else  {
                    $.each(data, function(ix, place) {

                        if ("relation" == place.osm_type) {
    // 2. Создаем полигон с нужными координатами

                                var p = new ymaps.Polygon(place.geojson.coordinates, {
                                    // Описываем свойства геообъекта.
                                    // Содержимое балуна.
                                    hintContent: item
                                }, {
                                    // Задаем опции геообъекта.
                                    // Цвет заливки.
                                    fillColor: 'rgba(244, 138, 0, 0.5)',
                                    // Ширина обводки.
                                    strokeWidth: 2,
                                    strokeColor: '#000'
                                });
                                //Polygon(place.geojson.coordinates);
                                // 3. Добавляем полигон на карту
                                map.geoObjects.add(p);
                            }
                        });
                    }
                }, function (err) {
                    console.log(err);
                });
            });
        });
    </script>



<section id="wrapper">
    <section class="main-col main-col__full">
        <p style="color: red; font-size: 16px;" class="errors-map"></p>
        <div class="table_project_title">Параметрические признаки «точек роста»</div>
        <table class="table_pointers">
            <tr>
                <th>№</th>
                <th>Объект</th>
                <th>Тип точки</th>
                <th>Уровень идентификации точки (УИТ)</th>
            </tr>
            {% for key, itemPointers in arResult['pointers'] %}
                <tr>
                    <td style="background: #fff;" rowspan="9">{{ loop.index }}</td>
                    <td style="background: #fff; text-align: left;" rowspan="9">{{ itemPointers['name'] }}</td>
                </tr>
                {% for key, item in itemPointers['pointers'] %}
                    <tr {% if key == 7 %}style="border-bottom: 1px solid #ccc;"{% endif %}>
                        <td {% if (key is even) %}style="background: rgba(204, 204, 204, 0.2);"{% endif %}>{{ item.name }}</td>
                        <td {% if (key is even) %}style="background: rgba(204, 204, 204, 0.2);"{% endif %}>{{ item.value }}</td>
                    </tr>
                {% endfor %}

            {% endfor %}
        </table>
    </section>
    <section class="main-col main-col__full">
        <div style="font-size: 22px;" class="table_project_title">Сопоставительный анализ объектов как «точек роста»</div>
        <div class="table_project_title">Таблица расчета интегрированного показателя приоритетности «полюса роста»</div>
        <table class="table_project">
            <tr>
                <th>№</th>
                <th>Объект</th>
                <th>Коэффициент мультипликативности <b>(Kη)</b></th>
                <th>Коэффициент адаптивности <b>(Kα)</b></th>
                <th>Коэффициент синергетичности <b>(Kζ)</b></th>
                <th>Коэффициент интенсивности <b>(Kι)</b></th>
                <th>Показатель приоритетности</th>
            </tr>
            {% for itemCoefficients in arResult['coefficients'] %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ itemCoefficients['name'] }}</td>
                    <td>{{ itemCoefficients['zone-1']['value'] }}</td>
                    <td>{{ itemCoefficients['zone-2']['value'] }}</td>
                    <td>{{ itemCoefficients['zone-3']['value'] }}</td>
                    <td>{{ itemCoefficients['zone-4']['value'] }}</td>
                    <td><b>{{ itemCoefficients['PTR'] }}</b></td>
                </tr>
            {% endfor %}
        </table>
    {#{{ dump(arResult) }}#}
    </section>
</section>
{% endblock %}
{% block table_project %}
    <section class="main-col main-col_project main-col__full">
        <div class="chart-container" style="position: relative;  width:100%">
            <canvas id="myChart"></canvas>
        </div>

        <script>

            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ (arResult['districtMaps'] | json_encode(constant('JSON_UNESCAPED_UNICODE')) | raw) }},
                    datasets: [{
                        label: 'Показатель приоритетности',
                        data: {{ (coefficientsJSON['PTR'] | json_encode(constant('JSON_UNESCAPED_UNICODE')) | raw) }},
                        backgroundColor: [
                            'rgba(244, 138, 0, 0.5)'
                        ],
                        borderColor: [
                            'rgba(244, 138, 0, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        </script>

    </section>
{% endblock %}