{# src/AppMatrix/MatrixBundle/Resources/views/Page/contact.html.twig #}
{% extends 'AppMatrixMatrixBundle::layout.html.twig' %}


{% block title %}{{ district.districtName }}{% endblock %}


{% block table_project %}
    <section class="main-col main-col__full">
        <h1>Район: <b>{{ district.districtName }}</b></h1>
        <h3>Проект: <b>{{ project.projectName }}</b></h3>
        <div class="chart-container" style="position: relative;  width:100%">
            <canvas id="myChart"></canvas>
        </div>

        <script>
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ (parameters_graph.labels | json_encode(constant('JSON_UNESCAPED_UNICODE')) | raw) }},
                    datasets: [
                    {% for year, item in parameters_graph.item %}
                    {
                        label: {{ (year | json_encode(constant('JSON_UNESCAPED_UNICODE')) | raw) }},
                        data: {{ (item.value | json_encode(constant('JSON_UNESCAPED_UNICODE')) | raw) }},
                        {% if (year is even) %}
                        backgroundColor: 'rgba(244, 138, 0, 0.5)',
                        borderColor: 'rgba(244, 138, 0, 1)',
                        borderWidth: 2,
                        {% else %}
                        backgroundColor: 'rgba(128, 122, 115, 0.5)',
                        borderColor: 'rgba(128, 122, 115, 1)',
                        borderWidth: 2
                        {% endif %}
                    },
                    {% endfor %}]
                },
                options: {
                    scaleShowValues: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                autoSkip: false
                            }
                        }]
                    }
                }
            });
        </script>
    </section>
{% endblock %}


{% block table_district %}
    <section class="main-col main-col_project main-col__full">
        <p>Параметры исследования. Всего: {{ parameters_table | length }}</p>
        {% if parameters_table | length > 0 %}
            <table class="table_project">
                <tr>
                    <th>№</th>
                    <th>Название параметра</th>
                    <th>Год</th>
                    <th>Значение</th>
                </tr>
                {% for  itemParam in parameters_table %}
                    <tr style="border-top: 1px solid rgba(204, 204, 204, 0.2);" >
                        <td rowspan="2">{{ loop.index }}</td>
                        <td rowspan="2"><a href="/parameters/{{ itemParam.id }}/">{{ itemParam.name }}</a></td>

                    {% for key, year in itemParam.value %}

                        <td>{{ key }}</td>
                        <td style="text-align: center">{{ year }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% else %}
            <table class="table_project">
                <tr>
                    <th>№</th>
                    <th>Название района</th>
                    <th>Год</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: center;">
                        <b>Районы исследования еще не загружены!</b>
                    </td>
                </tr>
            </table>
        {% endif %}
    </section>
{% endblock %}