{# src/AppMatrix/MatrixBundle/Resources/views/Page/contact.html.twig #}
{% extends 'AppMatrixMatrixBundle::layout.html.twig' %}

{% block title %}{{ projects.projectName }}{% endblock%}



{% block body %}
    <div style="display: none">
        <div class="delete-form" id="delete-form">

            <div class="delete-form_question">Удалить параметр?</div>
            {{ form(form_delete) }}
        </div>
    </div>
    <header>
        <h1>Загрузка новых параметров</h1>
    </header>

    <p>Внесите данные:</p>

    {{ form_start(form_upload, { 'attr': {'class': 'blogger'} }) }}

    {{ form_errors(form_upload) }}
    {{ form_row(form_upload.project_id) }}
    {{ form_row(form_upload.parameter_type) }}
    {{ form_row(form_upload.parameter_name) }}
    {{ form_row(form_upload.district_type) }}
    <p>Загрузите файл .csv с данными параметра. Пример файла импорта: <a target="_blank" rel="nofollow" href="{{ asset('upload/import_csv/Productions-sh_standart.csv') }}">Посмотреть</a></p>
    {{ form_row(form_upload.file) }}

    {{ form_rest(form_upload) }}


    <input type="submit" value="Загрузить" />

    {% for label, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <p class="form_result">{{ message }}</p>
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block sidebar %}
    <div class="project_sidebar">
        <div class="project_title">Текущий проект:</div>
        <div class="project_row">
            <div class="project_name">Имя: </div>
            <div class="project_value"><b>{{ projects.projectName }}</b></div>
        </div>
        <div class="project_row">
            <div class="project_name">Дата создания: </div>
            <div class="project_value"><b>{{ projects.created|date("d.m.y : H:i", "Asia/Krasnoyarsk") }}</b></div>
        </div>
        <div class="project_row">
            <div class="project_name">Дата изменения: </div>
            <div class="project_value"><b>{{ projects.updated|date("d.m.y : H:i", "Asia/Krasnoyarsk") }}</b></div>
        </div>
    </div>
{% endblock %}

{% block table_project %}
    <p>Уже загруженные параметры. Всего: {{ parametersLength }}</p>
    {% if parameters | length > 0 %}
        {% for itemParameter in parameters %}
            <div class="table_project_title">Тип параметра: {{ itemParameter['name']}}</div>
            <table class="table_project table_project_delete">
                <tr>
                    <th>№</th>
                    <th>Название параметра</th>
                    <th>Дата создания</th>
                    <th>Дата изменения</th>
                    <th>Удалить</th>
                </tr>
                    {% for item in itemParameter['value'] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.parameterName }}</td>
                            <td>{{ item.created | date("d.m.Y : H:i", "Asia/Krasnoyarsk") }}</td>
                            <td>{{ item.updated | date("d.m.Y : H:i", "Asia/Krasnoyarsk") }}</td>
                            <td><a class="delete-link" id="delete-link" data-delete="{{ item.id }}" href="#delete-form">Удалить</a></td>
                        </tr>
                    {% endfor %}
            </table>
        {% endfor %}
    {% else %}
        <table class="table_project">
            <tr>
                <th>№</th>
                <th>Название параметра</th>
                <th>Дата создания</th>
                <th>Дата изменения</th>
            </tr>
            <tr>
                <td colspan="4" style="text-align: center;">
                    <b>Параметры еще не загружены!</b>
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

{% block table_district %}
    <section class="main-col main-col_project main-col__full">
        <p>Районы исследования. Всего: {{ districts | length }}</p>
        {% if districts | length > 0 %}
            <table class="table_project">
                <tr>
                    <th>№</th>
                    <th>Название района</th>
                    <th>Тип района</th>
                    <th>Дата создания</th>
                    <th>Дата изменения</th>
                </tr>
                {% for itemDistrict in districts %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ itemDistrict.districtName }}</td>
                        <td>{{ itemDistrict.districtType }}</td>
                        <td>{{ itemDistrict.created | date("d.m.Y : H:i", "Asia/Krasnoyarsk") }}</td>
                        <td>{{ itemDistrict.updated | date("d.m.Y : H:i", "Asia/Krasnoyarsk") }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table class="table_project">
                <tr>
                    <th>№</th>
                    <th>Название района</th>
                    <th>Тип района</th>
                    <th>Дата создания</th>
                    <th>Дата изменения</th>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: center;">
                        <b>Районы исследования еще не загружены!</b>
                    </td>
                </tr>
            </table>
        {% endif %}
    </section>
{% endblock %}