{# src/AppMatrix/MatrixBundle/Resources/views/Page/index.html.twig #}
{% extends 'AppMatrixMatrixBundle::layout.html.twig' %}

{% block body %}
    <header>
        <h1>Создать новый проект:</h1>
    </header>

    <p>Введите название нового прокта</p>

    {{ form_start(form, { 'action': path('AppMatrixMatrixBundle_homepage'), 'method': 'POST', 'attr': {'class': 'blogger'} }) }}

    {{ form_row(form.project_name) }}


    {{ form_rest(form) }}

    <input type="submit" value="Далее" />

{% endblock %}
{% block table_project %}
    <p>Уже созданные прокты. Всего: {{  projects | length }}</p>
    <table class="table_project">
        <tr>
            <th>№</th>
            <th>Название проекта</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
        </tr>
    {% for itemProject in projects %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="/{{ itemProject.id }}/form">{{ itemProject.projectName }}</a></td>
            <td>{{ itemProject.created | date("d.m.y : H:i", "Asia/Krasnoyarsk") }}</td>
            <td>{{ itemProject.updated | date("d.m.y : H:i", "Asia/Krasnoyarsk") }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}